.btn__edit  {
	margin-right: 5px;
}
#sort {
	margin-right: 5px;
}
#list {
	@include ra-small-max {
		display:none;
	}
}
#grid {
	@include ra-small-max {
		margin-right: 0px;
	}
	@include ra-small-min {
		margin-right: 5px;
	}
}
.select__sorting {
	margin-top: 10px;
	display: inline;
	width: 100%;
	@include ra-large-min {
		display: inline;
		width: 13%;
		margin-right: 5px;
		margin-top: 0px;
	}
}