.form__edit, .form__create {
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 50px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: $form-valid-border-left;
}
.ng-invalid:not(form)  {
    border-left: $form-not-valid-border-left;
} 