<div class="card">
    <div class="card-header">
        <fa-icon [icon]="fausershield"></fa-icon> {{ employee.name }} 
        <span href="#" class="headrating btn btn-outline-danger"> <ra-stars [employee]="employee"></ra-stars> {{ employee.ratings[0].total}} </span>
    </div>
    <div class="card-body">
        <p class="card-text">   
            <img alt="placeholder" src="{{ employee.img }}"/>
        </p>
        <a [routerLink]="['../show', employee.id]" class="float-end btn btn-outline-dark"> <fa-icon [icon]="faeye"></fa-icon> Show</a>
    </div>
</div>