<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 className="header"><fa-icon [icon]="fachartline"></fa-icon> Rating for {{ employee.name }}</h1>
            <div class="card">
                <div class="card-header">
                  Quality
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].quality)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].quality + '%' }" attr.aria-valuenow="{{ employee.ratings[0].quality }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].quality }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Quantity
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].quantity)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].quantity + '%' }" attr.aria-valuenow="{{ employee.ratings[0].quantity }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].quantity }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Knowledge
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].knowledge)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].knowledge + '%' }" attr.aria-valuenow="{{ employee.ratings[0].knowledge }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].knowledge }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Initiative
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].initiative)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].initiative + '%' }" attr.aria-valuenow="{{ employee.ratings[0].initiative }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].initiative }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Communication
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].communication)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].communication + '%' }" attr.aria-valuenow="{{ employee.ratings[0].communication }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].communication }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Team
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].team)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].team + '%' }" attr.aria-valuenow="{{ employee.ratings[0].team }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].team }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Learning
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].learning)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].learning + '%' }" attr.aria-valuenow="{{ employee.ratings[0].learning }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].learning }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                 Motivation
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].motivation)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].motivation + '%' }" attr.aria-valuenow="{{ employee.ratings[0].motivation }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].motivation }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Performance
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].performance)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].performance + '%' }" attr.aria-valuenow="{{ employee.ratings[0].performance }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].performance }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                 Organization
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].organization)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].organization + '%' }" attr.aria-valuenow="{{ employee.ratings[0].organization }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].organization }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                  Total
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="progress">
                        <div [ngClass]="getClass(employee.ratings[0].total)" role="progressbar" [ngStyle]="{'width': employee.ratings[0].total + '%' }" attr.aria-valuenow="{{ employee.ratings[0].total }}" aria-valuemin="0" aria-valuemax="100">{{ employee.ratings[0].total }}%</div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>