$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

$font-size-normal: 1.5rem;
$font-size-large: 2.5rem;

$form-valid-border-left: 5px solid #42A948;
$form-not-valid-border-left: 5px solid #a94442;